* {
	background-color: rgba(240, 224, 224, 0.982);
}

.App {
	text-align: center;
	font-family: Arial, sans-serif;
	padding: 20px;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

button {
	font-size: 1.25rem;
	padding: 10px 20px;
	margin: 10px;
}
